* { /* Resetar todos as propriedade da página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
  background-color: gray;
}

header {
  z-index: 3;
  height: 100px;
  position: fixed;
  width: 1280px;
  background-color: white;
  color: #A08963;
  font-family: Lexend, Monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 310px;
  width: 1260px;
  height: 76;
  
}
header nav .java{
  height: 40px;
  width: 48px;
  align-items: center;
  justify-content: center;
}
header nav .titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
header nav .titulo ul {
  font-size: 12px;
  display: flex;
  gap: 68px
}
header nav .icones {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  gap: 11px;
}

main .Hero {
  padding: 85px 0px 48px 0px;
  background-color: white;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
main .Hero .texto_cafe{
  width: 500px;
  font-family: Lexend, monospace;
  font-size: 12px;
}

h1{
  font-size: 36px;
}
