* { /* Resetar todos as propriedade da página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
  background-color: gray;
}

header {
  z-index: 3;
  height: 100px;
  position: fixed;
  width: 1280px;
  background-color: white;
  color: #A08963;
  font-family: Lexend, Monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px;
}

header nav{
  padding: 0px 13px;
  display: flex;
  align-items: center;
  width: 1260px;
  height: 76px;
  justify-content: space-between;
}

header nav .java{
  height: 40px;
  width: 48px;
}

header nav .titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

header nav .titulo ul {
  font-size: 12px;
  display: flex;
  gap: 68px
}

header nav .icones {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  gap: 11px;
}
main{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1280px;
}
main .Hero {
  padding: 85px 0px 0px 0px;
  background-color: white;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
main .Hero .texto_java_beans{
  width: 500px;
  font-family: Lexend, monospace;
  font-size: 12px;
}

.Sobre{
  background-color: white;
  font-family: Lexend, monospace;
  width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main .Sobre .nosso_cafe{
  background-color: #C9B194;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sobre .nosso_ambiente{
  background-color: #C9B194;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_texto{
  padding: 0px 96px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.titulo_texto p{
  font-size: 16px;
}

.cardapio{
  font-family: inter, monospace;
  background-color: white;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
.clicavel{
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  padding: 29px 0px;
}
.clicavel h2{
  color:#A08963;
}
.clicavel ul{
  display: flex;
  flex-direction: line;
  gap: 127px;
  align-items: center;
  justify-content: center;
}
.clicavel ul li{
  width: 71px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.clicavel ul li p{
  text-align: center;
}
.imagem_new{
  position: relative;
}
.imagem_new .new{
  z-index: 2;
  position: absolute;
  left: 40px;
  top: 5px;
}
.expansivel {
  display: flex;
  flex-direction: column;
  gap: 36px;
  
}
.expansivel ul{
  display: flex;
  justify-content: center;
  gap: 96px;
}

.expansivel ul li{
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 81px;
}
.expansivel ul li p{
  text-align: center;
  font-size: 12px;
}
.Choco{
 width: 50px;
}
.Gerente{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lexend, Monospace;
  color: white;
}
.fundo{
  position: relative;
}
.Titulo_botao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  gap: 60px;
}
.Titulo_botao button{
  color: white;
  padding: 15px 60px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 50px;
  font-size: 36px;
  font-weight: bold;
  font-family: Lexend, Monospace;
}
.Titulo{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.Titulo h1{
  font-size: 48px;
  font-weight: bold;
}
.Titulo p{
  font-size: 12px;
}
.Titulo p span{
  font-weight: bold;
}
footer{
  width: 1280px;
  background-color: #A08963;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Lexend, monospace;
  color: white;
  padding: 0px 37px;
}
footer .Logo_Nome{
  display: flex;
  align-items: center;
  gap: 16px;
  max-height: 30px;
}
footer .Logo_Nome p{
  font-size: 24px;
  font-weight: bold;
}
footer .Logo_Nome img{
  width: 24px;
  height: 24px;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 24px;
}
